.container {
    overflow: hidden;
    height: 50px;
    width: 100%;
}

.scrolling {
    display: flex;
    animation: scroll 3s linear infinite;
}

.scrolling img {
    height: 50px;
    width: auto;
}

@keyframes scroll {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-50%);
    }
}